PORT=3001
# Only needed for local development
NODE_ENV=development

# AWS
AWS_REGION=us-west-2
SEND_TASKS_TO_WS_FUNCTION_NAME=iscx-utm-send-tasks-to-ws-clients-development

# DynamoDB
DYNAMODB_ACCESS_CONTROL_USERS_TABLE_NAME=ISCxDevAccessControlUsers
DYNAMODB_APPLICATIONS_TABLE_NAME=ISCxDevApplications
DYNAMODB_CLAIMS_TABLE_NAME=ISCxDevClaims
DYNAMODB_NOTES_TABLE_NAME=ISCxDevNotes
DYNAMODB_TASK_TABLE_NAME=ISCxDevTasks
DYNAMODB_TASK_WS_CONNECTION_TABLE_NAME=ISCxDevTaskWSConnections
DYNAMODB_EMAIL_HISTORY_TABLE_NAME=ISCxDevEmailHistory
DYNAMODB_AUTO_DECLINATION_HISTORY_TABLE_NAME=ISCxDevAutoDeclinationHistory
DYNAMODB_PRODUCTS_TABLE_NAME=ISCxDevProducts
DYNAMODB_RISK_SUMMARIZATIONS_TABLE_NAME=ISCxDevRiskSummarizations
DYNAMODB_PRODUCT_VERSIONS_TABLE_NAME=ISCxDevProductVersions
DYNAMODB_DOCUMENT_CLASSIFICATIONS_TABLE_NAME=ISCxDevDocumentClassifications

# Jwt Secret
JWT_SECRET='value can be found at -> aws secret manager -> iscx/jwt-secret-key/dev'

# Amp API
AMP_API_BASE_URL=https://dev.isceng.net/amp/api
AMP_API_KEY='value can be found at -> aws secret manager -> iscx/amp/api-key'

# Amp Database
AMP_DB_HOST=localhost
AMP_DB_USER='value can be found at -> aws secret manager -> iscx/amp-db/dev'
AMP_DB_PW='value can be found at -> aws secret manager -> iscx/amp-db/dev'
AMP_DB='value can be found at -> aws secret manager -> iscx/amp-db/dev'
AMP_DB_PORT=3306
TRACKING_DB=tracking

#MVR API
MVR_API_URL='https://dev-mvr.api.isceng.net/api'
