PORT=3001

# AWS
AWS_REGION=us-west-2

# DynamoDB
DYNAMODB_ACCESS_CONTROL_USERS_TABLE_NAME=ISCxDevAccessControlUsers
DYNAMODB_APPLICATIONS_TABLE_NAME=ISCxDevApplications
DYNAMODB_CLAIMS_TABLE_NAME=ISCxDevClaims
DYNAMODB_NOTES_TABLE_NAME=ISCxDevNotes

# Jwt Secret
JWT_SECRET='value can be found at -> aws secret manager -> iscx/jwt-secret-key/dev'

# Amp API
AMP_API_BASE_URL=https://dev.isceng.net/amp/api
AMP_API_KEY='value can be found at -> aws secret manager -> iscx/amp/api-key'

# Amp Database
AMP_DB_HOST=localhost
AMP_DB_USER='value can be found at -> aws secret manager -> iscx/amp-db/dev'
AMP_DB_PW='value can be found at -> aws secret manager -> iscx/amp-db/dev'
AMP_DB='value can be found at -> aws secret manager -> iscx/amp-db/dev'
AMP_DB_PORT=3306

#MVR API
MVR_API_URL='https://dev-mvr.api.isceng.net/api'
